html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: rgb(60, 63, 65);
    font-family: 'Roboto', sans-serif;
    color: rgb(187, 187, 187);
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

* {
    color: inherit;
}

*:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

button {
    border: none;
    height: 100%;
    padding: 0 12px;
    margin: 0;
    background: none;
    font-size: 12px;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button:hover {
    background: rgba(0, 0, 0, .15);
}

button.active {
    background: rgb(44, 44, 44);
}

button.category {
    background: rgba(0, 0, 0, .10);
}

button.indent {
    padding-left: 28px;
}

.divider {
    position: absolute !important;
    z-index: 3;
}

.divider.vertical {
    cursor: ew-resize;
}

.divider.horizontal {
    cursor: ns-resize;
}

nav {
    height: 30px;
    width: 100%;
    padding: 0 16px;
}

nav h3 {
    display: inline;
}

.nav-arrow {
    padding: 0 4px;
}

.buttons {
    float: right;
    height: 100%;
}

button input {
    outline: none;
    background: none;
    border: none;
    width: 20px;
    text-align: right;
}

.sidemenu {
    top: 30px;
    right: 85%;
    visibility: hidden;
    overflow: scroll;
    padding-bottom: 120px;
}

.sidemenu.active {
    visibility: visible;
}

.sidemenu #header {
    border-top: 2px solid rgb(44, 44, 44);
}

.sidemenu button {
    display: block;
    width: 100%;
    height: 30px;
    text-align: left;
}

.workspace {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 15%;
    right: 0;
}

nav,
section,
.viewer_container,
.editor_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

nav,
section {
    border: 1px solid rgb(44, 44, 44);
    box-sizing: border-box;
}

.viewer_container {
    right: 50%;
}

.editor_container {
    left: 50%;
}

.module_container {
    overflow: hidden;
    border: none;
}

.tab_container {
    top: 30px;
}

.tab {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    visibility: hidden;
}

.tab > .wrapper {
    padding: 16px;
    box-sizing: border-box;
}

.tab.active {
    visibility: visible;
}

.module_wrapper .wrapper {
    padding: 16px;
    box-sizing: border-box;
}

#tab_desc > .wrapper a {
    text-decoration: underline;
}

.tab_bar {
    height: 30px;
}

.files_bar {
    height: 30px;
}

.explanation_container {
    top: 30px;
    height: 30px;
    background: rgb(44, 44, 44);
    padding: 0 8px;
    line-height: 30px;
    font-size: 12px;
    overflow-y: auto;
}

.data_container {
    top: 60px;
    bottom: 60%;
}

.code_container {
    top: 40%;
}

pre {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(81, 81, 81);
    background: rgb(43, 43, 43);
    outline: none;
    resize: none;
}

.toast_container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px;
    z-index: 4;
}

.toast {
    width: 280px;
    border: 1px solid;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
}

.toast.error {
    border-color: rgb(150, 0, 0);
    background: rgba(120, 0, 0, .8);
}

.toast.info {
    border-color: rgb(0, 150, 0);
    background: rgba(0, 120, 0, .8);
}

.github-fork-ribbon {
    position: fixed;
}

.github-fork-ribbon.left-bottom:before {
    background-color: #333;
}

.mtbl-wrapper {
    width: 100%;
    height: 100%;
}

.mtbl-table {
    display: inline-table;
    color: white;
    table-layout: fixed;
}

.mtbl-row {
    display: table-row;
}

.mtbl-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #888;
}

.mtbl-cell.selected {
    background: #00f;
}

.mtbl-cell.notifying {
    background: #f00;
}
