html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(63, 63, 63);
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(187, 187, 187);
    -webkit-font-smoothing: subpixel-antialiased;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

* {
    color: inherit;
}

*:not(input) {
    -webkit-touch-callout: none;
    user-select: none;
}

.btn {
    display: inline-table;
}

.btn > .wrapper {
    display: table-cell;
    vertical-align: middle;
}

.btn,
button {
    cursor: pointer;
    vertical-align: top;
    border: none;
    height: 100%;
    padding: 0 12px;
    margin: 0;
    background: none;
    font-size: 12px;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgb(63, 63, 63);
}

.btn:hover,
button:hover {
    background: rgba(0, 0, 0, .15);
}

.btn.active,
button.active {
    background: rgb(36, 36, 36);
}

.btn.active:hover,
button.active:hover {
    background: rgba(36, 36, 36);
    color: rgba(187, 187, 187, .8);
}

button[disabled] {
    background: rgb(63, 63, 63);
    cursor: not-allowed;
    opacity: 0.6;
}

.btn input,
button input {
    outline: none;
    background: rgba(0, 0, 0, .3);
    padding: 4px;
    border: none;
}

.tab_button{
  border-bottom: 1px solid #505050;
}

.divider {
    position: absolute !important;
    z-index: 3;
}

.divider.vertical {
    cursor: ew-resize;
}

.divider.horizontal {
    cursor: ns-resize;
}

nav {
    height: 30px;
    width: 100%;
    padding: 0 16px;
}

nav > * {
    height: 28px;
}

nav h3 {
    display: inline;
}

.nav-arrow {
    padding: 0 4px;
}

#navigation span:empty + .nav-arrow {
    display: none;
}

.top-menu-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 16px;
}

#shared {
    width: 128px;
}

#shared.collapse {
    display: none;
}

#interval {
    width: 24px;
    text-align: right;
}

.sidemenu,
.workspace {
    top: 30px;
}

.sidemenu {
    right: 85%;
    visibility: hidden;
    overflow: scroll;
    padding-bottom: 120px;
}

.sidemenu.active {
    visibility: visible;
}

.sidemenu #footer {
    border-top: 2px solid rgb(38, 38, 38);
}

.sidemenu button {
    display: block;
    width: 100%;
    height: 30px;
    text-align: left;
    background: rgba(0, 0, 0, .15);
}

.sidemenu button:hover {
    background: rgb(63, 63, 63);
}

.sidemenu button.active {
    background: rgb(38, 38, 38);
}

.sidemenu button.active:hover {
    background: rgb(38, 38, 38);
}

.sidemenu button.indent {
    padding-left: 28px;
}

.sidemenu .algorithms,
#powered-by-list {
    display: none;
    padding: 3px 2px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.48), inset 0 -2px 2px rgba(0, 0, 0, 0.36);
}

.search_bar_container {
    background: rgba(0, 0, 0, .10);
    border-bottom: 2px solid rgb(38, 38, 38);
    height: 30px;
    color: rgb(187, 187, 187);
    font-size: 12px;
    padding: 0 8px 0 8px;
}

.search_bar_container > .fa {
    position: absolute;
    line-height: 30px;
}

#search-bar {
    box-sizing: border-box;
    padding-left: 16px;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
}

.workspace {
    position: absolute;
    bottom: 0;
    left: 15%;
    right: 0;
}

nav,
section,
.sandbox_container,
.viewer_container,
.editor_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

nav,
section {
    border: 1px solid rgb(38, 38, 38);
    box-sizing: border-box;
}

.viewer_container {
    right: 50%;
}

.sandbox_container{
    left: 50%;
    z-index:  100;
}

.editor_container {
    left: 50%;
}

.module_container {
    overflow: hidden;
    border: none;
}

.hide{
    display: none;
}

.tab_container {
    top: 30px;
    background: #242424;
    border: 1px solid #505050;
    border-top: none;
}

.tab {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: scroll;
}

.tab > .wrapper {
    padding: 16px;
    box-sizing: border-box;
}

.tab.active {
    visibility: visible;
}

.module_wrapper {
    overflow: scroll;
    font-family: monospace;
    border: none;
    border-bottom: 1px solid #505050;
}

.module_wrapper .name {
    position: fixed;
    z-index: 5;
    padding: 4px;
    font-size: 14px;
    background: rgba(0, 0, 0, .4);
}

.module_wrapper > .wrapper {
    padding: 24px 16px;
    box-sizing: border-box;
}

#tab_desc h3 {
    border-bottom: 1px solid rgb(81, 81, 81);
    padding: 5px;
    margin: 2px;
}

#tab_desc > .wrapper a,
#tab_doc > .wrapper a {
    text-decoration: underline;
}

.tab_bar {
    height: 30px;
    border-left: none;
    border-bottom: 1px solid #505050;
}

.tab_bar button,
.files_bar button {
    height: 29px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tab_bar button.active,
.files_bar button.active {
    border: 1px solid #505050;
    border-bottom: none;
}

.close_bar,
.files_bar {
    height: 30px;
    border-bottom: 1px solid #505050;
}

.files_bar > * {
    position: absolute;
}

.files_bar > button {
    width: 30px;
}

.files_bar .btn-left {
    left: 0;
}

.files_bar .btn-right {
    right: 0;
}

.files_bar > .wrapper {
    left: 30px;
    right: 30px;
    overflow: scroll;
    white-space: nowrap;
}

.files_bar > .wrapper > button {
    max-width: 80%;
}

.files_bar > .wrapper.shadow-left {
    box-shadow: inset 16px 0 16px -16px rgba(0, 0, 0, .6);
}

.files_bar > .wrapper.shadow-right {
    box-shadow: inset -16px 0 16px -16px rgba(0, 0, 0, .6);
}

.files_bar > .wrapper.shadow-left.shadow-right {
    box-shadow: inset 16px 0 16px -16px rgba(0, 0, 0, .6), inset -16px 0 16px -16px rgba(0, 0, 0, .6);
}

.close_bar {
    width: 100%;
    background-color: #3f3f3f;
}

.explanation_container {
    border: none;
    top: 30px;
    height: 30px;
    background: rgb(36, 36, 36);
    padding: 8px;
    font-size: 12px;
}

#explanation:before {
    font-family: FontAwesome;
    content: '\f05a\00a0\00a0';
}

#explanation {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.explanation_container:hover {
    z-index: 5;
    height: auto;
    bottom: auto;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, .8);
}

.explanation_container:hover #explanation {
    white-space: normal;
}

.data_container {
    top: 60px;
    bottom: 60%;
}

.code_container {
    top: 40%;
}

pre {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(81, 81, 81);
    background: rgb(43, 43, 43);
    outline: none;
    resize: none;
}

.toast_container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px;
    z-index: 4;
}

.toast {
    width: 280px;
    border: 1px solid;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
}

.toast.error {
    border-color: rgb(150, 0, 0);
    background: rgba(120, 0, 0, .8);
}

.toast.info {
    border-color: rgb(0, 150, 0);
    background: rgba(0, 120, 0, .8);
}

.github-fork-ribbon {
    position: fixed;
}

.github-fork-ribbon.left-bottom:before {
    background-color: #333;
}

.fa-spin-faster {
    animation: fa-spin 1s infinite ease-in-out;
}

.mtbl-wrapper {
    width: 100%;
    height: 100%;
}

.mtbl-table {
    display: inline-table;
    color: white;
    table-layout: fixed;
    border: 1px solid #505050;
}

.mtbl-row {
    display: table-row;
}

.mtbl-col {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #888;
}

.mtbl-empty-row {
    display: table-row;
    background: rgb(63, 63, 63);
    height: 2px;
}

.mtbl-empty-col {
    display: table-cell;
    background: rgb(63, 63, 63);
    width: 2px;
}

.mtbl-col.selected {
    background: #2962ff;
}

.mtbl-col.notified {
    background: #c51162;
}

.mchrt-chart {
    width: 100%;
    height: 100%;
}

#loading-slider {
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 2px;
}

#loading-slider.loaded {
    visibility: hidden;
}

.line {
    position: absolute;
    background: #4a8df8;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 3px;
}

.break {
    position: absolute;
    background: #222;
    width: 6px;
    height: 2px;
}

.dot1 {
    animation: loading 2s infinite;
}

.dot2 {
    animation: loading 2s 0.5s infinite;
}

.dot3 {
    animation: loading 2s 1s infinite;
}

@keyframes loading {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.applications li,
.complexity {
    margin: 10px 0px;
}

.complexity-type {
    font-weight: bold;
}

.top-menu-buttons button.active {
    font-weight: bold;
}

.top-menu-buttons button.active .fa {
    color: #00e676;
}

#btn_run > .btn-text:before {
    content: 'Run'
}

#btn_run.active > .btn-text:before {
    content: 'Rerun'
}

#btn_pause > .btn-text:before {
    content: 'Pause'
}

#btn_pause.active > .btn-text:before {
    content: 'Resume'
}

#btn_pause {
    width: 86px;
}

.top-menu-buttons button.active {
    box-shadow: 0px 0px 10px 3px #1a1a1a inset;
}

.top-menu-buttons button:active {
    box-shadow: 0px 0px 10px 3px #1a1a1a inset;
}

.executing {
    background: rgba(0, 174, 255, 0.4);
    border: 1px solid #0091ea;
    position: absolute;
    width: 100% !important;
    left: 0 !important;

    animation: line_highlight .1s;
}

@keyframes line_highlight {
    from {
        background: rgba(0, 174, 255, 0.1);
    }
    to {
        background: rgba(0, 174, 255, 0.4);
    }
}

.ace_editor {
    border-left: none;
    border-bottom: none;
}

@media (max-width: 1024px) {
    .sidemenu,
    .workspace {
        top: 60px;
    }

    nav {
        height: 60px;
    }

    .top-menu-buttons {
        top: 30px;
        left: 0;
    }
}

.buttonContainer {
    width: 75px;
    height: 25px;
    display: block;
    position: relative;
    z-index: 100;
    background-color: white;
}

.inputField {
    width: 25px;
    border: 0;
}

.sb-button {
    border: 1px solid #515151;
    height: 25px;
    margin: 0 auto;
}

.auto-gen {
    top: 30px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #262626;
    align-items: center;
}

.inputs {
    display: inline-block;
    border: 0;
    background-color: #505050;
    height: 25px;
    width: 75px;
}

.grid {
    width: 50%;
    height: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fields {
    margin-top: 5px;
    margin-bottom: 5px;
}
