@import "~/common/stylesheet/index";

.markdown {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  padding: 24px;
  font-size: $font-size-large;
  overflow-y: auto;

  a {
    text-decoration: underline;
  }
}
