{
  "presets": [
    "es2015",
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "transform-builtin-extend",
      {
        "globals": [
          "Error"
        ]
      }
    ]
  ]
}