@import "~/common/stylesheet/index";

.renderer {
  position: relative;
  flex: 1;
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top: 1px solid $theme-light;
  font-family: 'Roboto Mono', monospace;

  &:first-child {
    border-top: none;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-shadow;
    color: $color-font;
    padding: 4px;
    font-size: $font-size-large;
  }
}