@import "~/common/stylesheet/index";

.log {
  flex: 1;
  align-self: stretch;
  padding: 24px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-family: $font-family-monospace;

  .message {
    margin: 2px 0;
  }
}