@import "~/common/stylesheet/index";

.code_editor {
  width: 100% !important;
  height: 100% !important;
  min-width: 0 !important;
  min-height: 0 !important;

  .current_line_marker {
    background: rgba(#29d, 0.4);
    border: 1px solid #29d;
    position: absolute;
    width: 100% !important;

    animation: line_highlight .1s;
  }

  @keyframes line_highlight {
    from {
      background: rgba(#29d, 0.1);
    }
    to {
      background: rgba(#29d, 0.4);
    }
  }
}