@import "~/common/stylesheet/index";

.code_editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .ace_editor {
    flex: 1;
    width: 100% !important;
    height: 100% !important;
    min-width: 0 !important;
    min-height: 0 !important;

    .current_line_marker {
      background: rgba($color-highlight, 0.4);
      border: 1px solid $color-highlight;
      position: absolute;
      width: 100% !important;

      animation: line_highlight .1s;
    }

    @keyframes line_highlight {
      from {
        background: rgba($color-highlight, 0.1);
      }
      to {
        background: rgba($color-highlight, 0.4);
      }
    }
  }
}