@import "~/common/stylesheet/index";

.array_2d {
  flex-shrink: 0;
  display: table;
  border-collapse: collapse;

  .row {
    display: table-row;
    height: 28em;

    &:empty:after {
      content: '';
      display: table-cell;
      border-left: 1em solid $theme-light;
    }

    .col {
      display: table-cell;
      text-align: center;
      min-width: 28em;
      background-color: $theme-normal;
      border: 1em solid $theme-light;
      padding: 0 4em;

      .value {
        font-size: 12em;
      }

      &.selected {
        background-color: $color-selected;
      }

      &.patched {
        background-color: $color-patched;
      }
    }
  }
}
