@import "~/common/stylesheet/index";

.viewer_section {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .tab {
      display: none;
    }

    &[data-tab_index='0'] .tab:nth-child(1),
    &[data-tab_index='1'] .tab:nth-child(2),
    &[data-tab_index='2'] .tab:nth-child(3) {
      display: flex;
    }
  }
}