@import "~/common/stylesheet/index";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  user-select: none;
  color: $color-font;
  font-size: $font-size-normal;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

input {
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  .workspace {
    flex: 1;
  }

  .toast_container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
  }
}