@import "~/common/stylesheet/index";

.divider {
  position: relative;
  z-index: 99;

  &:before {
    background-color: $theme-light;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
  }

  &.horizontal {
    &:before,
    &:after {
      top: 0;
      bottom: 0;
    }

    &:before {
      width: 1px;
    }

    &:after {
      left: -3px;
      width: 6px;
      cursor: ew-resize;
    }
  }

  &.vertical {
    &:before,
    &:after {
      left: 0;
      right: 0;
    }

    &:before {
      height: 1px;
    }

    &:after {
      top: -3px;
      height: 6px;
      cursor: ns-resize;
    }
  }

  &:last-child {
    display: none;
  }
}