@import "~/common/stylesheet/index";

.tab_section {
  .tab_bar {
    position: relative;
    display: flex;
    align-items: stretch;
    height: $line-height;
    background-color: $theme-normal;
    overflow-x: scroll;
    white-space: nowrap;
    flex-shrink: 0;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $theme-light;
    }

    .title {
      position: relative;

      &.selected {
        border-left: 1px solid $theme-light;
        border-right: 1px solid $theme-light;
        background-color: $theme-dark;
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .tab {
      flex: 1;
      display: none;

      &.selected {
        display: flex;
      }
    }
  }
}